{% extends "_base.html" %}

{% block title %}Rizzder - SignUp{% endblock %}

{% block content %}
<div class="form-container">
    <div class="card p-4 shadow-sm signup-container" style="width: 100%; max-width: 600px">
        <h2 class="text-center mb-4 signup-title">Sign Up</h2>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label"><b>{{ field.label }}</b>
                        <input id="{{ field.id_for_label }}" name="{{ field.name }}" class = "form-control" required>
                    </label>
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
{#                    {% for error in field.errors %}#}
{#                        <div class="text-danger small">{{ error }}</div>#}
{#                    {% endfor %}#}
                </div>
            {% endfor %}

            <div class="mb-3">
                <label for="birthday" class="form-label"><b>Birthday</b></label>
                <input type="date" id="birthday" name="birthday" class="form-control" required>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary button" id="submit"><b>Sign Up</b></button>
            </div>
        </form>

        <div class="mt-3 text-center">
            <small><b>Already have an account? <a href="/login" class="link">Log In</a></b></small>
        </div>
    </div>
</div>
{% endblock %}
